
body,html{
    color: #0D364C;
    width: 100%;
    height: 100%;
    font-family:notosanskr,sans-serif;
}
a{
    color: #425866;
    text-decoration: none;
    transition: .4s color ease;
    font-size:15px;
}

.wrap{
    margin:0 auto;
   
}
#header{
    width:100%;
    position:relative;
    top:40px;
}
.navbar{
    padding:48px 68px;
    margin:0 auto;
    width:1180px;
}
.navbar::after{
    clear:both;
    display:block;
    content:'';
}
.mobile_menu{
    position: absolute;
    display:none;
}

.logoArea{
    width:20%;
    float:left;
    text-align:center;
}
.logoArea img{
    vertical-align: top;
}
nav{
    width:40%;
    float:left;
    text-align:center; 
}
.left_gnb nav a{
    float:left;
    width:33%;
    display:inline-block;
}
.right_gnb  nav a{
    float:left;
    width:25%; 
    display:inline-block;
}
.side_menu{
    display:none;
    height:100%;
    left:0;
    top:0;
    background-color:#fff;
    position: fixed;
    width:25%;
    padding-top: 220px!important;
    box-shadow:2px 2px 5px rgb(224, 232, 236);
}
.side_menu li{
    width:100%;
    margin:0 auto;
    margin-bottom: 40px;
    cursor: pointer;
    font-weight: 400;
    height: 50px;
    font-size:20px;

    text-align:center;
}
.side_menu ul{
    margin-left:180px;
    width:50%;
}
.side_menu li a{
    padding:10px 40px;
}
.side_backBtn{
    position: absolute;
    top: 25px;
    right:35px;
    padding-left: 1em;
    font-size:15px;
    cursor: pointer;
    font-weight:bold;
}
.underline{
    border-bottom:1px solid #0D364C
}

.container{
    width:100%;
    overflow:hidden;
    padding-bottom:64px;
   
}
.inner_padding{
    padding-top:60px;
    overflow:hidden;
    position:relative;
}
.full_width{
    width:100%;
}


.footer{
    height: 309px;
    background-color: #fafafa;
    text-align: center;
}
.footer h2{
    padding-top: 50px;
}
.footer_menu{
    width: 305px;
    height: 32px;
    margin: 20px auto;
    text-align: center;
    font-size: 0;
    border: 1px solid #ebebeb;
    border-width: 1px 0;
    color: #737373;
}
.footer_menu a{
    display: inline-block;
    padding: 5px;
    color: #737373;
    font-size:13px;
}
address{
   overflow:hidden;
    line-height:23px;
    margin:0 auto;
    font-style: normal;
    font-size:12px;
    color: #8c8c8c;
}
address a{
    font-size:12px;
    font-weight:bold;
    padding:0 10px;
}
.copyright{
    margin-top: 20px;
    font-size: 11px;
    color: #8c8c8c;
    font-weight:bold;
}