.center_box{
    height:500px;
    background-color:rgb(63, 150, 150);
}
.center_box2{
    height:700px;
    background-color:rgb(34, 139, 143);        
}
.left_box{
    position: absolute;
    left:0;
}
.right_box{
    position: absolute;
    right:0;
}
/**z-index:2 container Area에 content 겹침***/
.section1{
    .box{
        position: absolute;
        left:0;
        height:300px;  
        z-index:2;
        background-color:rgb(95, 161, 161);
    }
    .box2{
        position: absolute;
        right:0;
        height:450px; 
        background-color:rgb(36, 107, 107);
    }
}

.section2{

    .box{
        position: absolute;
        left:0;
        height:400px; 
        background-color:rgb(56, 160, 163); 
        top:50%; 
        margin-top:-200px;
    }
    .box2{
        position: absolute;
        right:0;
        height:300px; 
        z-index:2;
        background-color:rgb(20, 82, 82); 
        top:150px;
    }
}

.section3{

    .box{
        position: absolute;
        left:0;
        top:-5px;
        height:557px;
        z-index:2;  
        background-color:rgb(95, 161, 161);
    }
    .box2{
        position: absolute;
        right:0;
        height:430px; 
        background-color:rgb(36, 107, 107);
    }
}

.section4{

    .box{
        position: absolute;
        left:0;
        height:500px;  
        background-color:rgb(56, 160, 163); 
        top:180px;
    }
    .box2{
        position: absolute;
        right:0;
        height:279px; 
        z-index:2;
        background-color:rgb(20, 82, 82); 
        top:150px;
    }
}