.platingRecipe_head {
    overflow:hidden;
    
    .platingRecipe_head {
        position: relative;
        padding-bottom: 22px;
        font-size: 48px;
        font-weight: 200;
        color: #333;
        text-align: center;
        letter-spacing: -1px;
    }
}