body,html {
    color: #0D364C;
    width: 100%;
    height: 100%;
    font-family:notosanskr,sans-serif;
}

a {
    color: #425866;
    text-decoration: none;
    font-size:15px;
}

.wrap {
    margin:0 auto;  
}

.container {
    overflow:hidden;
    padding:40px 60px;
    position: relative;
}

.inner_padding {
    padding-top:150px;
    padding-bottom:150px;
    overflow:hidden;
    position:relative;
}

.full_width {
    width:100%;
}

.fontbold {
    font-weight:bold;
}

.underline {
    background-color:#0D364C;
    display:block;
    transition:all .4s ease;
}

.opcity {
    opacity:0;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }   
    100% {
        opacity: 1;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
@keyframes fadeInUp{
    0% {
        opacity: 0;
       // margin-top:100px;
    }
    100% {
        opacity: 1;
       //margin-top:0;
    }
}



.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}