/* header */
#header{
    width:100%;
    position:relative;
    top:40px;
}
.nav_bar{
    padding:48px 68px;
    margin:0 auto;
    width:1180px;
}
.nav_bar::after{
    clear:both;
    display:block;
    content:'';
}
.mobile_menu{
    position: absolute;
    display:none;
}

.logo_Area{
    width:20%;
    float:left;
    text-align:center;
    overflow:hidden;
}
.logo_Area img{
    vertical-align: top;
}

.left_gnb{
    width:40%;
    float:left;
    overflow:hidden;
}
.right_gnb{ 
    width:40%;
    float:left;
    overflow:hidden;
    text-align: center;
}

nav{
    a{
        display:inline-block;    
    } 
    span{
        width:0;
        height:1px;
        display:block;
        margin-top:10px;
     
   }
   .underline{
        width:100%;
        //height:1px;
        background-color:#0D364C;
        display:block;
        transition:all .4s ease;
    }  
}

.left_gnb nav a{
    margin-left:50px;
}
.right_gnb  nav a{
   margin-right:40px;
}


/* product 클릭시 맨상위에 있어야 하기 때문에 사이드메뉴에 z-index:1 사용 */
.side_menu{
   display:block;
    z-index:3;
    height:100%;
    left:0;
    top:0;
    background-color:#fff;
    position: fixed;
    width:25%;
    padding-top: 250px!important;
    box-shadow:2px 2px 5px rgb(224, 232, 236);
    nav{
        
        cursor: pointer;
        font-weight: 400;
        position: relative;
        width:100%;
        a{
            float:none;
            margin-bottom: 40px;
            padding:10px 40px;
            font-size:20px;
            text-align:center;
            transition:all .3s ease;
            display:inline-block;
          // background-color:greenyellow;
          // float:left;
            
        }
       
    }
   

}
.side_menu_detail{
    
   display:none;
    padding-top: 250px!important;
   //width: 100%; 
    background-color:#fff;
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    text-align: left;
    .side_menu_inner_detail{
        z-index:-1;
        width:100%;
        //padding-left:10px;
        .jantproduct{
            padding-left:10px;
            display: block;
            width:90%;
            height:360px;
            background-color:rgb(63, 150, 150);
            background-image: url("../img/main_side_jante3.jpg");
            background-size:cover;
            background-position:bottom;
        }
        .side_menu_product_name{
            width:100%;
            height:40px;
            margin-top:40px;
            padding-left:10px;
           
            a{
                display:inline;
                font-size:35px;
                font-weight:bold;
                line-height:20px;
            }
        }
        .side_menu_product_price{
            text-align: right;
            width:90%;
            a{
                font-size:14px;
                .monetaryUnit{
                    font-size:15px;
                    font-weight:bold;
                }
            }

        }
    }
 }


.side_backBtn{
    position: absolute;
    top: 50px;
    right:35px;
    padding-left: 1em;
    font-size:15px;
    cursor: pointer;
    font-weight:bold;
}
