/* header */
#header {
    width:100%;
    position:relative;
    top:40px;
}

.nav_bar {
    padding:48px 68px;
    margin:0 auto;
    width:1180px;
}

.nav_bar::after {
    clear:both;
    display:block;
    content:'';
}

.mobile_menu {
    position: absolute;
    display:none;
}

.logo_Area {
    width:20%;
    float:left;
    text-align:center;
    overflow:hidden;
    img {
        vertical-align: top;
    }
}

.left_gnb {
    width:40%;
    float:left;
    overflow:hidden;
}
.right_gnb { 
    width:40%;
    float:left;
    overflow:hidden;
    text-align: center;
}

nav {
    a {
        display:inline-block;    
    } 
    span {
        width:0;
        height:1px;
        display:block;
        margin-top:10px;
   }
}

.left_gnb {
    nav {
        a {
            text-align:left;
            margin-left:90px;
        }
        
        a.left_first_margin{
          margin-left:0;   
        }
    }
}

.right_gnb {
    nav {
        text-align:right;
        a {
            
            margin-left:80px;
        }
        a.right_first_margin{
            margin-left:0;
        }
    }
} 

/* product 클릭시 맨상위에 있어야 하기 때문에 사이드메뉴에 z-index:1 사용 */
.side_menu {
    z-index:51;
    height:100%;
    left:-800px;
    top:0;
    background-color:#fff;
    position: fixed;
    width:25%;
    padding-top: 350px!important;
    box-shadow:2px 2px 5px rgb(224, 232, 236);
    nav {
        font-weight: 400;
        position: relative;
        width:100%;

        li {
            width:100%;
            height:50px;
            cursor: pointer;
        }
        a {
            margin-left:40px;
            float:none;
            font-size: 20px;
            text-align:center;
            transition:all .3s ease;
            display:inline-block;
        }
    }
}

.side_menu_detail {
    padding-top: 300px!important;
    width: 0; 
    height: 100%;
    background-color:#fff;
    position: absolute;
    top: 0;
    left: 100%;
    text-align: left;
    box-shadow:2px 2px 5px rgb(224, 232, 236);
    .side_menu_inner_detail {
        width:100%;
        margin:0 auto;
        position: absolute;
        left:0;
        //opacity:0;
        .side_menu_product_name {
            width:90%;
            height:40px;
            line-height:40px;
            margin-left:5px;
            margin-top:20px;
            a {
                font-size:25px;
                font-weight:bold;
            }
        }
        .side_menu_product_price {
            text-align:right;
            margin-right:5px;
        }
    }
    .jante_product {
        display:block;
        height:400px;
        width:100%;
        background-image: url('../img/main_detail_jante.jpg');
        background-size:cover;
        background-position:bottom;
    }
    .atelier_product {
        display:block;
        height:400px;
        width:100%;
        background-image: url('../img/main_detail_atelier.jpg');
        background-size:cover;
        background-position:bottom;
    }
    .hygge_product {
        display:block;
        height:400px;
        width:100%;
        background-image: url('../img/main_detail_hygge.jpg');
        background-size:cover;
        background-position:bottom;
    }
    .plating_product {
        display:block;
        height:400px;
        width:100%;
        background-image: url('../img/main_detail_platingcook.jpg');
        background-size:cover;
        background-position:bottom;
    }
 }


.side_backBtn {
    position: absolute;
    top: 50px;
    right:35px;
    padding-left: 1em;
    font-size:15px;
    cursor: pointer;
    font-weight:bold;
}
